@import "../../node_modules/reveal.js/dist/reset.css";
@import "../../node_modules/reveal.js/dist/reveal.css";

@import "../../node_modules/reveal.js/css/theme/template/mixins";
@import "../../node_modules/reveal.js/css/theme/template/settings";

@import url(https://fonts.googleapis.com/css?family=Poppins:400,500);
@import url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400,600,700);
@import url(https://fontlibrary.org/en/face/courier-prime-code);

// Chalet variables
$primaryColor: #f49309;
$secondaryColor: #f6bb5e;
$mainTextColor: #d9d9d9;
$fadedTextColor: #8d8d9b;
$bulletColor: #474351;

// Override theme settings (see ./template/settings.scss)
$backgroundColor: #111;

$mainFont: "Barlow Semi Condensed", sans-serif;
$codeFont: "Courier Prime Code", monospace;
$linkColor: $primaryColor;
$linkColorHover: lighten($linkColor, 20%);
$headingFont: "Poppins", sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$selectionBackgroundColor: #231f3f;

@include light-bg-text-color(#222);

@import "../../node_modules/reveal.js/css/theme/template/theme";

// Syntax highlighting
@import "./highlight/retro";

html {
	font-size: 16px;
}

*,
::after,
::before {
	box-sizing: border-box;
	// user-select: none;
}

.reveal {
	background-image: url("/img/flat-mountains-dark.svg");
	background-size: cover;
	background-position: 100% center;
	background-repeat: no-repeat;

	.slide-number {
		font-family: $headingFont;
		font-size: 1.5rem;
		font-weight: 400;
		color: $mainTextColor;
		background: none !important;
		right: 2.5rem;
		bottom: 2rem;
		font-style: italic;
	}

	p {
		font-size: 1.5rem;
		font-family: $mainFont;
		color: $mainTextColor;
		margin: 0;
		padding: 0;

		> span {
			color: $secondaryColor;
		}
	}

	ul,
	ol {
		display: block;
		position: relative;
		padding-left: 0px;
		list-style: none;
		font-size: 1.5rem;
		color: $mainTextColor;
		margin: 0px;
		padding-top: 0.25rem;
		padding-bottom: 0.75rem;
		line-height: 1.625;

		> li {
			display: block;
			position: relative;
			padding-left: 1.5rem;
			color: $fadedTextColor;

			&.current-fragment {
				color: inherit;
			}

			> span {
				color: $secondaryColor;
			}

			&::before {
				display: block;
				position: absolute;
				content: "•";
				color: $bulletColor;
				font-size: 2rem;
				line-height: 0;
				left: 0px;
				top: 1.075rem;
			}
		}
	}

	pre {
		font-size: 0.45em;
		line-height: 1.25;

		code {
			padding: 1.5rem 2rem;
			overflow: hidden;
			max-height: 600px;
		}
	}

	h6 {
		font-size: 1.5rem;
		line-height: 1;
	}
	h6:not(.secondary) {
		color: $secondaryColor;
	}

	h4:not(.secondary) {
		color: $secondaryColor;
	}

	div.spacer {
		display: block;
		position: relative;
		width: 1rem;
		height: 1rem;
	}

	section {
		div.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		div.group {
			display: flex;
			justify-content: center;
			align-items: center;
			width: auto !important;
			max-width: 100%;

			&.horiz {
				flex-direction: row;
				margin: 0 auto;
			}
			&.vert {
				flex-direction: column;
			}
			&.left {
				align-items: flex-start;
			}
			&.top {
				justify-content: start;
			}
		}

		&.chalet-logo {
			padding-bottom: 4rem;

			img {
				width: 11rem;
				height: auto;
				padding-bottom: 1rem;
				margin-bottom: 0;
			}

			h1 {
				font-size: 3.5rem;
				font-weight: 500;
				letter-spacing: 0.325em;
				line-height: 1;
				margin-left: 0.175em;
			}

			h1 + p {
				font-size: 1.5rem;
				margin-top: 2rem;
			}
		}

		&.standards {
			img {
				width: 36rem;
				height: auto;
				border: 1rem solid white;
				border-radius: 1rem;
			}
		}

		table {
			font-size: 1.25rem;
			font-weight: 400;

			tr {
				min-width: 100%;
			}

			th {
				color: $mainTextColor;
				font-weight: 600;
			}

			td {
				background-color: #0a0a0a;
				color: $mainTextColor;
				padding: 0.5rem 1rem;
				border-bottom: 0.125rem solid #272336 !important;
				border: 0.125rem solid #272336;

				> span {
					color: $secondaryColor;
				}
			}

			th:not(:first-of-type),
			td:not(:first-of-type) {
				min-width: 8rem;
			}

			&.commands {
				td:first-of-type {
					font-size: 1rem;
					font-family: $codeFont;
				}
			}
		}

		img.about-me {
			width: 11rem;
			height: 11rem;
			border-radius: 3rem;
			margin-right: 2rem;
		}
	}
}
